<div class="row"> 
    <div class="col-xl-4 col-lg-6">
      <div class="campaign-box bg-warning-light">
        <div class="campaign-img">
          <span>
            <i class="ti ti-send"></i>
          </span>
          <p>Produits en stock</p>
        </div>
        <h2>
          <a routerLink="/web/products/product-list"> 
            @if (isLoading) {
              <div class=" text-center d-flex justify-content-center align-items-center ">
                <div class="spinner-border bs-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              } @else {
              {{ TotalProductStock | shortenAmount }}
              }
          </a> 
        </h2>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="campaign-box bg-purple-light">
        <div class="campaign-img">
          <span>
            <i class="ti ti-brand-feedly"></i>
          </span>
          <p>Profits-({{ currentUser.currency }}) </p>
        </div>
        <h2>
          <a routerLink="/web/products/product-list">
            @if (isLoading) {
              <div class=" text-center d-flex justify-content-center align-items-center ">
                <div class="spinner-border bs-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              } @else {
              {{ TotalProfitSorties | shortenAmount }} / {{ TotalProfitDispos | shortenAmount }} 
              } 
          </a>  
        </h2>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6">
      <div class="campaign-box bg-success-light">
        <div class="campaign-img">
          <span>
            <i class="ti ti-brand-pocket"></i>
          </span>
          <p>Valeur produits-({{ currentUser.currency }})</p>
        </div>
        <h2>
          <a routerLink="/web/products/product-list">
            @if (isLoading) {
              <div class=" text-center d-flex justify-content-center align-items-center ">
                <div class="spinner-border bs-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              } @else {
              {{ TatalValeurProducts | shortenAmount }}
              }
          </a> 
        </h2>
      </div>
    </div>
  </div>